$uni-color-primary: #5d87ff;
$uni-color-success: #13deb9;
$uni-color-warning: #ffae1f;
$uni-color-error: #fa896b;

$uni-text-color: #2a3547;
$uni-text-color-inverse: #ffffff;
$uni-text-color-grey: #5a6a85;
$uni-text-color-placeholder: #7c8ba5;
$uni-text-color-disable: #a2adbd;

$uni-bg-color: #ffffff;
$uni-bg-color-grey: #f0f3f5;
$uni-bg-color-hover: #ecf2ff;
$uni-bg-color-mask: rgba(42, 53, 71, 0.48);
$uni-border-color: #e5eaf2;

$uni-font-size-sm: 14px;
$uni-font-size-base: 18px;
$uni-font-size-lg: 19px;
$uni-img-size-sm: 24px;
$uni-img-size-base: 31px;
$uni-img-size-lg: 48px;
$uni-border-radius-sm: 6px;
$uni-border-radius-base: 8px;
$uni-border-radius-lg: 12px;
$uni-border-radius-circle: 50%;
$uni-spacing-row-sm: 4px;
$uni-spacing-row-base: 8px;
$uni-spacing-row-lg: 16px;
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 16px;
$uni-opacity-disabled: 0.48;

$uni-color-title: #2a3547;
$uni-font-size-title: 24px;
$uni-color-subtitle: #2a3547;
$uni-font-size-subtitle: 19px;
$uni-color-paragraph: #5a6a85;
$uni-font-size-paragraph: 18px;
